.phaseviewlistitemContainer
{
   &:hover
   {
     background-color: #f5f5f5;
   }
  cursor:auto;
  display: table;
  &.active
  {
    background-color: #f5f5f5;
    color: black;
  }
  padding: 10px;
}

.lefttoolbar
{
  border:{
    width: 1px;
    color: #cccccc;
    style: solid;
    radius: 4px;
  }
  display: table;
  width: 100%;
  margin-right: auto;
  .lefttoolbarcontent
  {
    display: table-cell;
    text-align: left;
    padding: 4px;
  }
}
.phasename
{
  display: table-cell;
  text-align: left;
}
.phaseoperator
{
  display: table-cell;
  text-align: right;

}